@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    outline: none;
    list-style: none;
    text-decoration: none;
}
.main-container{
    width: 100%;
}
/* header section Start  */
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E3EFFB;
    position: sticky;
    top: 1px;
    z-index: 9999;
}
.logo{
    width: 250px;
}
.logo img{
    width: 100%;
}
.navbar ul{
    display: flex;
    gap: 25px;
    list-style: none;
}
.navbar ul li a{
    font-weight: 600;
    color: #2d7500;
}
.navbar ul li a:hover{
    color: black;
}
.nav-icon{
    color: #133000;
    display: none;
    font-size: 25px;
}
.profile{
    width: 52px;
    height: 52px;
}
.profile img{
    border: 1.5px dotted #133000;
    border-radius: 50%; 
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    padding: 3px;
}

.offerMsg p{
    font-size: 15px;
    color: #133000;
    font-weight: 500;
   font-variant: small-caps;
   position: relative;
   left: 50px;
}
.card-items-count{
    position: relative;
    width: 52px;
    height: 52px;
    background-color: #050e00;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    left: 60px;
}
.card-items-count i{
    color: white;
    font-size: 19px;
}

#item-counte{
    position: absolute;
    top: 5px;
    left: 52%;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    background-color: #fd5f09;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    align-content: center;

}
/*HEADER SECTION END */


/* Sildebar Start */
.slider-container {
    position: relative;
    width: 98%;
    height: 500px;
    margin: 20px auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 100%;
    height: 100%;
  }
  
  .bullets {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .bullet-btn {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .bullet-btn:hover {
    opacity: 1;
  }
/* Sildebar End */

/* Hero section Css Start here */
/* hero Section End */
/* Section1 Start */
.section1{
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1 h2{
    text-align: center;
    letter-spacing: 1px;
    color: #2d7500;
    text-transform: uppercase;
    font-weight: 600;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: 0 50%;
}
@keyframes scroll {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.section2Categoriesmain{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.s2selectbox-card1{
    width: 200px;
    height: 230px;
    padding-top: 30px;
    text-align: center;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: 0 50%;
    cursor: pointer;
    /* border: 1px solid black; */
}
.s2selectbox-card1 img{
    width: 110px;
    height: 100px;
    mix-blend-mode: multiply;
}
.s2selectbox-card1 p{
   color: #2d7500;
    font-weight: bold;
}
#Fruits{
    background-color: #FDE9E0;
    box-shadow: 0px 0px 5px #e94c03;
}
#Vegetables{
    background-color: #EEEEFA;
    box-shadow: 0px 0px 5px #4c4cfb;

}
#Drinks{
    background-color: #E9F4E3;
    box-shadow: 0px 0px 5px #2b7b00;

}
#DryFruits{
    background-color: #FCEAEA;
    box-shadow: 0px 0px 5px #ff3131;

}
#Noodles{
    background-color: #F7F6D7;
    box-shadow: 0px 0px 5px #aca601;

}
#Snakes{
    background-color: rgb(244, 230, 247);
    box-shadow: 0px 0px 5px rgb(133, 0, 163);

}

.s2selectbox-card1:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in;
}



/* SECTION 3 PRODUCTS CARD START */
.section3ProductsMain{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 30px 15px;
}

.S2Card{
    padding-top: 20px;
    width: 250px;
    height: 300px;
    padding-left: 20px;
    padding-bottom: 30px;
    position: relative;
    border-radius: 5px;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: 0 50%;
    &:hover{
        box-shadow: 0px 0px 5px #fd5f09;
    }
}
.S2Card img{
    width: 70%;
    height: 150px;
    position: relative;
    left: 5%;
    transition: 0.5s ease-in-out;
}
.S2Card h3{
    margin-top: 40px;
    font-weight: 600;
}
.S2Card p{
    margin-top: 10px;
    font-size: 14px;
    margin-left: 2px;
    font-weight: 400;
}
.S2Card s{
    /* position: relative; */
    color: rgb(84, 83, 83);
    font-weight: 300;
    margin-left: 5px;
    text-decoration: line-through;
}
.S2Card .off{
    width: 70px;
    text-align: center;
    font-size: 12px;
    background-color: red;
    color: white;
    position: absolute;
    top: 10px;
    left: 5px;
    font-weight: bold;
    padding-block: 2px;
    border-radius: 5px;
}

.S2Card .S2CardIcon{
    position: absolute;
    bottom: 25px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    border-radius: 5px;
}

.S2Card .S2CardDescr{
    display: none;
    margin-top: 5px;
    font-weight: 400;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    background-color: red;
}

/* Loader animation */
.loader{
    border: 6px solid #eeebeb;
    border-top: 6px solid #fb6622;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-top: 150px;
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }
/* SECTION PRODUCT MODAAL START  */
.section4ModaalMain{
    display: none;
    position: fixed;
    z-index: 99999;
    top: 20px;
    right: 20px;
    width: 350px;
    min-height: 95vh;
    height: 95vh;
    background-color: #b8ecb3;
    padding-bottom: 50px;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    transition: 1s ease-in-out;
}

.close-icon{
    font-size: 25px;
    position: absolute;
    right: 5px;
    top: 0px;
}
.atcimg-show-user-con{
    width: 100%;
    height: 230px;
    background-color: #ecf3f9;
    background-color: #e7f4e6;
    text-align: center;
}
.atcimg-show-user-con img{
     width: 65%;
     height: 100%;
}
.atc-text1 h3{
    font-size: 22px;
    margin-top: 5px;
    margin-left: 15px;
   font-weight: 650;
   color: rgb(32, 32, 32);
}
.stars{
    margin-top: 5px;
    padding-left: 15px;
    font-size: 13px;
    letter-spacing: 1px;
}
#proprice p{
    margin-left: 17px; 
    margin-top: 8px;
   font-size: 17px;
   font-family: monospace; 
     font-weight: 400;
}
#plus-minus{
   position: absolute;
   top: 333px;
   right: 20px;
}
#plus-minus button{
   width: 38px;
   height: 38px;
   border-radius: 5px;
   background-color: transparent;
   border: 1px solid rgb(55, 54, 54);
    font-size: 25px;
    font-weight: 500;
    margin-left: 37px;
}
#proqunanumber{
    position: absolute;
    top: 335px;
    right: 74px;
    font-size: 22px;
    font-weight: bolder;
}
.opacity{
    /* opacity: 0; */
    display: none;
}
/* .top{
    position: relative;
    bottom: 15px;
} */
#delevery-time{
    margin-top: 15px;
    display: flex;
    padding-left: 12px;
}

#products-details p{
    font-size: 15px;
}
.add-tocard-con img {
    mix-blend-mode: multiply;
}
#Productdetailsfull{
    display: none;
}
.clock{
    width: 40px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    height: 40px;
    margin-top: 2px;
    border: 1px solid black;
}
.clock i{
    margin-top: 3px;
    font-size: 20px;
}
.text{
    margin-left: 10px;
}
.text h3{
    font-weight: bold;
    font-size: 19px;
}
.text p{
   margin-left: 5px;
   font-size: 14px;
   margin-bottom: 5px;
}
#products-details{
    margin-top: 25px;
    padding-left: 15px;
}
#products-details h3{
    font-weight:600;
}
#products-details button{
    border: none;
    background-color: transparent;
   font-weight: 700;
   margin-left: 5px;
   font-size: 15px;
}
.harfdescription,.fulldescription{
    display: none;
    margin-top: 5px;
    font-weight: 400;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}
b{
    font-weight: bold;
    cursor: pointer;
    transition: 1s ease-in;
}
#addto-card-button{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#addto-card-button button{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    height: 45px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

/* SECTION PRODUCT MODAAL END   */

/* Footer start */
.footer{
    margin-top: 50px;
    width: 100%;
    padding-top: 50px;
    background-color: #111111;
}
.first-row-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: 0 30%;
}
.ficon{
    width: 45px;
    height: 45px;
    background-color: white;
    text-align: center;  
    align-content: center;
    border-radius: 50%;
}
.ficon i{
    transition: 0.5s ease-in;
    font-size: 22px;
}
.ficon:hover.ficon i{
    font-size: 30px;
}
.ficon:first-child:hover,.ficon:nth-child(3):hover{
    color: cornflowerblue;
}
.ficon:nth-child(2):hover{
    color: rgb(240, 22, 58);
}
.ficon:nth-child(4):hover{
    color: rgb(235, 168, 21);
}
.ficon:nth-child(5):hover{
    color: rgb(233, 34, 12);
}

.f-second-row {
    padding-top: 25px;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: 0 15%;
}
.f-second-row ul{
    display: flex;
    justify-content: center;
    gap: 35px;
}
.f-second-row ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.f-second-row ul li:hover{
    font-size: 19px;
    transform: translateY(-9px);
    transition: 0.4s ease-in;
}
.f-second-row ul li a:hover{
    color: #6db73f;
}
.fthird-row{
    margin-top: 30px;
    background-color: black;
    align-content: center;
    color: white;
    text-align: center;
    height: 55px;
    width: 100%;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: 0 7%;
}
.fthird-row p{
    font-weight: 250;
}
/* Footer End */




/* RESPONSIVE START */
@media(max-width:1070px){
    .logo{
        right: 20px;
    }
}
@media(max-width:900px){
    .navbar{
        position: relative;
        right: 50px;
    }
}
@media(max-width:825px){
    .navbar{
        display: none;
    }
    .nav-icon{
        display: block;
        position: relative;
        right: 20px;
    }
    .nav-icon i{
        font-size: 25px;
    }
    .header{
        justify-content: space-between;
    }
    .logo{
        left: 10px;
        right: 0px;
    }
    
    /* responsive Navbar style */
    .navbar {
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 9999;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    .navbar ul {
        display: block;
        background-color: #E3EFFB;
        padding-left: 50px;
        padding-top: 75px;
        padding-bottom: 160px;
    }
    .navbar ul li {
        line-height: 30px;
    }
    
    .card-items-count,
    .profile,
    .offerMsg {
        position: absolute;
        z-index: 9999;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    .card-items-count {
        top: 310px;
        left: 50px;
    }
    
    .profile {
        top: 380px;
        left: 50px;
    }
    
    .offerMsg {
        top: 90px;
        left: 10%;
        text-align: center;
    }
    
    .offerMsg p {
        font-size: 20px;
    }
    
    /* Default hidden state */
    .navbar, .card-items-count, .offerMsg, .profile {
        display: block;
        visibility: hidden;
    }
    
   /* Show with smooth animation */
   .navbar.Show, .card-items-count.Show, .offerMsg.Show, .profile.Show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

}
@media(max-width:420px){
    .logo{
        width: 200px;
    }
    .f-second-row ul{
        gap: 25px;
      }
      .ficon{
          width: 35px;
          height: 35px;
      }
      .ficon i{
          font-size: 18px;
      }
      .fthird-row p{
          font-size: 14px;
      }
      .f-second-row{
          padding-top: 30px;
      }
      .fthird-row{
          margin-top: 30px;
      } 
      .footer{
          padding-top: 30px;
      }
      .slider-container{
        height: auto;
      }
    
}