@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body {
    background-color: #f4f4f4;
}

.container {
    background: white;
   padding-block: 30px;
   padding-inline: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 420px;
    text-align: center;
    margin: 150px auto;
    border: 1px solid rgb(205, 203, 203);
}

.first-heading h1 {
    font-size: 24px;
    color: coral;
}

.first-heading p {
    font-size: 14px;
    color: #777;
}

.second-inputs {
    margin-top: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 13px;
    padding-left: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: coral;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #777;
    pointer-events: none;
    transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: 0px;
    font-size: 12px;
    color: coral;
    background-color: white;
}

.input-group input:focus {
    border-color: coral;
}

.third-butons button {
    width: 100%;
    padding: 10px;
    background: coral;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.third-butons button:hover {
    background: coral;
}

.third-butons p {
    margin-top: 12px;
    font-size: 14px;
    font-variant: small-caps;
}

.third-butons a {
    color: #ff6b6b;
    text-decoration: none;
    font-weight: 500;
}

.third-butons a:hover {
    text-decoration: underline;
}